<?xml version="1.0"?>
<config>
    <modules>
        <Skudler_SConnect>
            <version>0.1.0</version>
        </Skudler_SConnect>
    </modules>
    <global>
        <helpers>
            <sconnect>
                <class>Skudler_SConnect_Helper</class>
            </sconnect>
        </helpers>
        <blocks>
            <sconnect>
                <class>Skudler_SConnect_Block</class>
            </sconnect>
        </blocks>
        <events>
            <customer_register_success>
                <observers>
                    <skudler_sconnect_model_observer>
                        <type>singleton</type>
                        <class>Skudler_SConnect_Model_Observer</class>
                        <method>customerRegister</method>
                    </skudler_sconnect_model_observer>
                </observers>
            </customer_register_success>
            <customer_login>
                <observers>
                    <skudler_sconnect_observer>
                        <type>singleton</type>
                        <class>Skudler_SConnect_Model_Observer</class>
                        <method>customerLogin</method>
                    </skudler_sconnect_observer>
                </observers>
            </customer_login>
            <checkout_cart_add_product_complete>
                <observers>
                    <skudler_sconnect_model_observer>
                        <type>singleton</type>
                        <class>Skudler_SConnect_Model_Observer</class>
                        <method>productToCart</method>
                    </skudler_sconnect_model_observer>
                </observers>
            </checkout_cart_add_product_complete>
            <sales_order_place_after>
                <observers>
                    <skudler_sconnect_model_observer>
                        <type>singleton</type>
                        <class>Skudler_SConnect_Model_Observer</class>
                        <method>newOrder</method>
                    </skudler_sconnect_model_observer>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <admin>
        <routers>
            <sconnect>
                <use>admin</use>
                <args>
                    <module>Skudler_SConnect</module>
                    <frontName>admin_sconnect</frontName>
                </args>
            </sconnect>
        </routers>
    </admin>
</config> 